body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin: 20px auto;
    width: 300px;
    height: 100%;
}

@font-face {
    font-family: 'Formula1Regular';
    src: url('fonts/Formula1-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Formula1Wide';
    src: url('fonts/Formula1-Wide.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-size: 24px;
    color: #333;
    font-family: 'Formula1Wide';
    margin-bottom: 20px;
}

#raceInfo {
    font-size: 18px;
    color: #777;
    font-family: 'Formula1Regular';
}
